<div class="container">
  <div class="form-palace">
    <h3>Edit my palace</h3><br>
      <%= simple_form_for @palace do |f| %>
        <div class="form-group">
          <%= f.input :name, class: 'form-control', placeholder: 'Enter the name of your palace' %>
        </div>
        <div class="form-group">
          <%= f.input :description, class: 'form-control', placeholder: 'Enter a description' %>
        </div>
        <div class="form-group">
          <%= f.input :location, class: 'form-control', placeholder: 'Enter the location' %>
        </div>
         <div class="form-group">
          <%= f.input :price, class: 'form-control', placeholder: 'Price / night' %>
        </div>
        <div class="form-group">
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        </div>
        <div class="mt-4 flex-btns">
          <%= link_to "Home page", palaces_path, class: 'btn btn-dark btn-sm text-white px-4 mx-5' %>
          <%= f.submit 'Update', class: 'btn btn-dark btn-sm text-white px-4' %>
          <%= link_to "Delete", palace_path(@palace), method: :delete, class: 'btn btn-outline-secondary btn-sm px-4 mx-5 ' %>
        </div>
      <% end %>
  </div>
</div>
