<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <%= link_to "Create new palace", new_palace_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="banner">
  <div class="container">
    <h1>Luxury Homes</h1>
    <p>The holidays you deserve</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 mt-3">
      <% @palaces.each do |pal| %>
        <%= link_to palace_path(pal) do %>
          <div class="card-palace">
            <%= image_tag 'https://source.unsplash.com/collection/8751926', alt: "Palace" %>
            <div class="card-palace-infos">
              <div>
                <h3><%= pal.name %></h3>
                <p><%= pal.description %></p>
              </div>
              <h2 class="card-palace-pricing"> <%= pal.price %> CHF</h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-4 mt-3">
      <div class="sidemap-card sticky-top border">
        <div style="background-image: url('https://images.unsplash.com/photo-1532154066703-3973764c81fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2434&q=80')" class="p-3 b-image">
          <p>Map... Coming soon</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
 -->

 <!--  <h4 class="justify-content-between text-center mb-3">
            <strong>Réservez</strong>
          </h4>
          <div class="mb-3">
            <label for="firstName">ARRIVÉE</label>
            <input type="text" class="form-control border border-dark" id="firstName" placeholder="DD/MM/YYYY" value="" required="">
          </div>
          <div class="mb-4">
            <label for="firstName">DÉPART</label>
            <input type="text" class="form-control border border-dark" id="firstName" placeholder="DD/MM/YYYY" value="" required="">
          </div>
          <div class="mb-2">
            <button type="button" class="btn btn-dark btn-lg btn-block"></button>
          </div>
          <div class="text-center">
            <span class="so3dpm2">Vous ne serez débité que si vous confirmez</span>
          </div> -->
