<div class="container margin-top-negative">

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @palace.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>" data-slide-number="<%= index %>">
          <%= cl_image_tag photo.key, class: "d-block w-100 img-responsive" %>
        </div>
      <% end%>
    </div>

   <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row">
    <div class="col-8 mt-3">
      <div class="palace-info-card">
        <h1><%= @palace.name %></h1>
      </div>
      <hr class="mb-4">
      <br>
      <div class="palace-info-card">
        <h4>A bit more about this palace...</h4>
        <div class="flex">
          <div class="flex">
            <p><%= @palace.description %></p>
            <p><%= @palace.location %></p>
            <p class = "price"><%= @palace.price %> CHF</p>
          </div>
        </div>
      </div>
      <%= link_to "Back", palaces_path, class: 'btn btn-dark btn-sm text-white' %>
      <%= link_to "Edit palace", edit_palace_path(@palace), class: 'btn btn-dark btn-sm text-white' %>
    </div>
    <div class="col-4 mt-3">
      <div class="palace-show-card sticky-top border">
        <div style="background-color: rgb(255, 255, 255)" class="p-3">
          <h4 class="justify-content-between text-center mb-3">
            <strong>Book <%= @palace.name %></strong>
          </h4>
          <div>
            <%= simple_form_for [@palace, @booking] do |f| %>
              <div class="form-group mb-3">
                <%= f.input :arrival_date, as: :date_time_picker, input_html: { data:
                  {
                    date_format: "DD.MM.YYYY",
                    date_day_view_header_format: 'MMM YYYY',
                    date_side_by_side: true,
                    date_min_date: Time.current.strftime('%Y-%m-%d')
                  }}, class: 'border border-dark', placeholder: "DD/MM/YYYY" %>
              </div>
              <div class="form-group mb-4">
                <%= f.input :departure_date, as: :date_time_picker, input_html: { data:
                  {
                    date_format: "DD.MM.YYYY",
                    date_day_view_header_format: 'MMM YYYY',
                    date_side_by_side: true,
                    date_min_date: Time.current.strftime('%Y-%m-%d')
                  }}, class: 'border border-dark', placeholder: "DD/MM/YYYY" %>
              </div>
              </div>
                <%= f.submit 'Book this palace!', class: 'text-white btn btn-dark btn-lg btn-block mb-2' %>
            <% end %>
          </div>
          <div class="text-center">
            <span class="so3dpm2">Your account will not be credited until confirmation</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>s


